main {
    width: 100%;
}

/* Section 1 : Titre */
.titre {
    position: relative;
    width: 100%;
    height: 80vh;
}

.center {
    width: 100%;
    position: absolute;
    top: 33vh;
}

.titre_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.center-tache-blanche {
    position: absolute;
    width: 1000px;
    height: auto;
}

.titre_logo_titre {
    font-size: 38px;
    color: #5F5F5F;
    z-index: 2;
}

.titre_logo_img {
    z-index: 2;
    width: 621px;
}

.titre-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section 2 : Citation */

.citation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
}

.citation_right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.citation_right_text {
    position: absolute;
    width: 380px;
    height: 637px;
    top: 145px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.citation_right_text_paragraphes {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.citation_right_text_titre {
    font-size: 36px;
}

.citation_right_text_paragraphes_item {
    font-size: 23px;
}

/* Section 3 : Mission */
.mission {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.mission-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-text-background {
    padding-left: 150px;
    height: 650px;
}

.mission-text-info {
    position: absolute;
    padding-top: 350px;
    padding-left: 130px;
    text-align: center;
    width: 335px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mission-text-info-paragraphe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mission-text-info-titre {
    font-size: 36px;
}

.mission-text-info-paragraphe-item {
    font-size: 23px;
}

.mission-text-info-lien {
    color: var(--main-color);
    padding-right: 10px;
    text-align: end;
    padding-top: 16px;
}

.mission-feuille-decoration {
    position: absolute;
    rotate: 90deg;
    top: -100px;
}

/* Re size 1600px */
@media screen and (max-width: 1600px) {
    .citation {
        width: calc(100% - 100px);
        padding: 0px 0px 0px 50px;
    }

    .citation_left {
        width: 50%;
        z-index: 1;
    }

    .citation_left img {
        width: 100%;
    }

    .citation_right {
        width: 50%;
        z-index: 0;
    }
}

/* Re size 1330px */
@media screen and (max-width: 1330px) {
    .citation_left {
        display: none;
    }

    .mission-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mission-text-background {
        padding: 0px;
    }

    .mission-text-info {
        height: 100%;
        padding: 350px 30px 0px 0px;
    }
    
    .mission-feuille-decoration {
        display: none;
    }
}

/* Re size 1050px */
@media screen and (max-width: 1050px) {
    .titre {
        height: 95vh;
    }

    .titre_logo {
        width: 100%;
        gap: 5px;
    }

    .center-tache-blanche {
        width: 100%;
    }

    .titre_logo_img {
        width: 80%;
    }

    .titre_logo_titre {
        font-size: 24px;
    }

    .citation_right_text_paragraphes_item {
        padding: 0px 20px 0px 20px;
    }

    main {
        overflow-x: hidden;
    }

    .citation {
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mission {
        height: 98vh;
    }

    .mission-text-info {
        padding: 350px 20px 0px 20px;
    }
}

@media screen and (max-width: 400px) {
    .titre_logo_titre {
        font-size: 18px;
    }

    .mission-text-info {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 350px) {
    .citation_right{
        width: 100%;
    }
    
    .citation_right_text {
        width: 100%;
        padding-top: 50px;
    }

    .citation_right_text_titre{
        font-size: 24px;
    }

    .citation_right_text_paragraphes_item{
        font-size: 18px;
        padding: 0px 0px 0px 0px;
    }
    
    .mission-text-background{
        display: none;
    }
    
    .mission-background{
        display: none;
    }

    .mission-text-info {
        position: static;
        padding: 0px 20px 0px 20px;
    }


    .mission-text-info-titre {
        font-size: 24px;
    }

    .mission-text-info-paragraphe-item{
        font-size: 18px;
    }

    .mission {
        height: fit-content;
        padding-top: 100px;
        padding-bottom: 200px;
    }
}