.aPropos{
    width: 100%;
    height: calc(100vh - 99px);
    overflow: hidden;
}

.background{
    height: 90vh;
    width: calc(100%);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.background_photo{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.texte{
    position: absolute;
    top: 100px;
    width: 450px;
    height: 100%;
    left: 100px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.texte h1{
    font-size: 24px;
}


.texte p{
    font-size: 18px;
}

.tache-blanche-image{
    position: absolute;
    height: 1000px;
    margin-left: -150px;
    object-fit: cover;
    z-index: 1;
}

.feuille-decoration-apropos{
    position: absolute;
    width: 250px;
    right: 20px;
    top: 40px;
    opacity: 0.9;
    z-index: 2;
}

.background_photo-mobile{
    display: none;
}

@media screen and (max-width: 1500px) {
    .feuille-decoration-apropos{
        right: 0px;
    }
}


@media screen and (max-width: 1400px) {

    .aPropos{
        height: auto;
    }

    .feuille-decoration-apropos{
        right: 0px;
    }

    .background_photo{
        width: 100%;
        height: auto;
        position: static;
    }

    .background{
        flex-direction: column-reverse;
        gap: 32px;
        position: static;
        height: auto;
        width: calc(100% - 80px);
        padding: 40px 40px 40px 40px;
    }

    .tache-blanche-image{
        display: none;
    }

    .texte{
        position: static;
        width: auto;
        height: auto;
    }

    .feuille-decoration-apropos{
        display: none;
    }
}


@media screen and (max-width: 1000px) {

    .background_photo-mobile{
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .background_photo{
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .background{
        flex-direction: column-reverse;
        gap: 32px;
        position: static;
        height: auto;
        width: calc(100% - 40px);
        padding: 40px 20px 40px 20px;
    }
}
