.container{
    width: calc(100% - 400px);
    padding: 80px 200px 80px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.container-left{
    width: 50%;
    position: relative;
}

.container-right{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.container-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-text-paragaraphes p{
    font-size: 18px;
}

.container img{
    width: 500px;
}

#consultation-feuilles-decoration{
    position: absolute;
    width: 250px;
    rotate: -170deg;
    left: 300px;
    top: -50px;
}

#consultation-feuilles-decoration_2{
    position: absolute;
    width: 250px;
    rotate: 0deg;
    left: -150px;
    top: 420px;
}

#consultation-feuilles-decoration_3{
    position: absolute;
    width: 200px;
    rotate: -10deg;
    left: -30px;
    top: -10px;
}

#consultation-feuilles-decoration_4{
    position: absolute;
    width: 240px;
    rotate: 10deg;
    right: -25%;
    bottom: -150px;
}

@media screen and (min-width: 2000px) {
    #consultation-feuilles-decoration_4{
        right: -18%;
    }
}


@media screen and (max-width: 1600px) {
    .container{
        width: calc(100% - 300px);
        padding: 50px 150px 0px 150px;
        gap: 150px;
    }

    #consultation-feuilles-decoration_4{
        position: absolute;
        width: 240px;
        rotate: 10deg;
        right: -20%;
        bottom: -150px;
    }
    
}

@media screen and (max-width: 1500px) {
    #consultation-feuilles-decoration_4{
        display: none;
    }
    
}

@media screen and (max-width: 1300px) {
    .container{
        width: calc(100% - 200px);
        padding: 50px 100px 0px 100px;
        gap: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        width: calc(100% - 300px);
        padding: 50px 150px 0px 150px;
        flex-direction: column;
        gap: 50px;
    }

    .image-disparait{
        display: none;
    }

    .container-left{
        width: 100%
    }
    
    .container-right{
        width: 100%;    
    }

    .container img{
        width: 100%;
    }
    
    .cons-feuilles_deco{
        display: none;
    }

    .main-consultation{
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .container{
        width: calc(100% - 200px);
        padding: 50px 100px 0px 100px;
    }
}

@media screen and (max-width: 500px) {
    .container{
        width: calc(100% - 50px);
        padding: 50px 25px 0px 25px;
    }
}