*{
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-normal;
}

.titre{ 
    font-family: 'Shrikhand', cursive;
}

h1{
    font-size: 26px;
}

.comment_paragraph{
    color: darken($colour-gray, 30%);
}