footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F2F0F1;
    padding: 80px 0px 60px 0px;
}

.footer-acceuil{
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.footer-information{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.footer-tarif{
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-tarif-inforamtion{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-contact{
    height: 250px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer-contact-inforamtion{
    display: flex;
    flex-direction: column;
    gap: 16px;    
}

.footer-contact-inforamtion-instagram-logo{
    width: 20px;
}

.footer-separation{
    width: 2px;
    height: 300px;
    background-color: black;
}

.footer-contact-inforamtion-instagram{
    display: flex;
    gap: 10px;
}

/* Re size 1330px */
@media screen and (max-width: 1330px) {
    .footer-information{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
    }

    .footer-separation{
        height: 2px;
        width: 300px;
    }

    .footer-tarif{
        height: auto;
    }

    .footer-contact{
        width: 100%;
        height: auto;
    }   
}

/* Re size 1330px */
@media screen and (max-width: 880px) {
    .footer-decoration{
        display: none;
    }
}
