
/* CSS de la section d'intro */
.intro{
    @include display-column-center;
}

.location{
    @include display-horizontal-center;
    gap: 15px;
    background-color: $colour-gray;
    padding: 20px 0px 20px 0px;
    width: 100%
}

.exploration{
    @include display-column-center;
    gap: 20px;
    width: calc(100% - 40px);
    padding: 20px 20px 40px 20px;
    background-color: $colour-light-grey;
}

.comment{
    @include display-column-center;
    margin: 0px 0px 0px 0px;
    text-align: center;
    gap: 20px;
}

/*CSS de la section functioning */

.functioning{
    @include display-column;
    max-width: 100%;
    gap: 20px;
    padding: 50px 20px 50px 20px;

    &_list{
        @include display-column;
        max-width: 100%;
        padding-left: 15px;
        gap: 20px;
    }
}

/* CSS de la section restaurant */
.restaurants{
    @include display-column;
    background-color: $colour-light-grey;
    max-width: 100%;
    gap: 20px;
    padding: 50px 20px 60px 20px; 
    
    &_liste{
        @include display-column;
        gap: 30px;
    }
}
