.background {
    @include display-column-center;
    & img {
        width: 100%;
    }
}

.menu {
    @include display-column;
    gap: 40px;
    position: relative;
    bottom: 20px;
    width: calc(100% - 40px);
    padding: 30px 20px 40px 20px;
    background-color: $colour-light-grey;
    border-radius: 20px 20px 0px 0px;

    &_titre {
        @include display-horizontal;
        justify-content: space-between;

        & h1 {
            font-family: "Shrikhand", cursive;
            font-size: 30px;
        }
    }

    &_portion {
        &_subtitle {
            & h2 {
                font-size: 20px;
                font-weight: 400;
            }

            &_underline {
                margin: 5px 0px 20px 0px;
                background-color: $colour-tertiary;
                width: 55px;
                height: 3px;

            }
        }

        &_list {
            @include display-column;
            gap: 20px;
        }
    }
}
